// primary styles 

$charcoal: #3a3a3a;
$cobalt: #0020C2;
$lightBlue: #24c3e0;
$grayBlue: #678699;
$hoverRed: #c40030;
$hoverOrange: #ae5f16;
$lightHoverOrange: #fedcbc;
$borderGray: #dbdbdb;
$orange: #e27c1d;
$purple: #8d55cd;
$green: #039329;
$yellow: #fffe9f;


$textGray: #757474;

$blue: #3A489E;
$red: #FF0030;
$white: #ffffff;
$black: #141414;
$darkGray: #858585;
$lightGray: #f8f8f8;
